
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <link href="~/Content/Images/icon.png" rel="shortcut icon" />
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/editor.css" rel="stylesheet" />
    <script>
        $(function (e) {
            document.onscroll = (e) => {

                if (window.scrollY >= $('#header-logo')[0].offsetTop + $('#header-logo')[0].offsetHeight) {
                    $('#main-menu').css('position', 'fixed').css('top', '0px').css('left', '0px');
                } else {
                    $('#main-menu').css('position', 'static');
                }
            }
        });
    </script>
    <style type="text/css">
        :root {
            font-size: 10pt;
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0px;
            padding: 0px;
            background-color: #fafafa;
        }
        .artical{
            background-color: #fff;
            padding: 20px;
        }
        .artical .title{
            font-family: Arial;
            padding: 2em 0px;
        }
        .artical .info .createtime{
            color: #aaa;
            font-size: 0.8rem;
        }
        .artical .summary{
            font-style: italic;
            font-weight: bold;
            font-size: 1.2em;
            padding: 1em 0px;
        }
        .artical .content{
            padding: 1em 0px;
        }
        #container {
            margin: 0px auto;
        }

        #header {
            width: 1100px;
            margin: 0px auto;
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
        }

        #footer {
            margin: 0px auto;
            background-color: #fff;
        }
        #footer .footer-content{
            width: 1100px;
            margin: 0px auto;
            padding: 1em 0px;
        }
        #content {
            width: 1100px;
            margin: 0px auto;
        }

        .u-fl {
            float: left;
        }

        .u-fr {
            float: right;
        }

        .u-hidden {
            display: none !important;
        }

        .clearfix::after {
            content: '';
            clear: both;
            display: block;
        }

        .u-w30 {
            width: 30%;
        }

        .u-w70 {
            width: 70%;
        }

        .u-w50 {
            width: 50%;
        }

        .u-w40 {
            width: 40%;
        }

        .u-w60 {
            width: 60%;
        }

        .u-border-box {
            box-sizing: border-box;
        }

        .u-padding-box {
            box-sizing: padding-box;
        }

        .u-content-box {
            box-sizing: content-box;
        }

        .u-o-hidden {
            overflow: hidden;
        }

        div#main-menu {
            background-color: #236693;
            width: 100%;
            z-index: 10;
        }

        div#main-menu-wrapper {
            width: 1100px;
            margin: 0px auto;
        }

        div#main-menu div.main-menu-item {
            float: left;
        }

        div#main-menu div.main-menu-item > a {
            display: inline-block;
            padding: 10px 5px;
            color: #fff;
            font-size: 9pt;
            text-decoration: none;
            font-weight: bold;
        }

        div#main-menu div.main-menu-item > a:hover {
            background-color: #f2b674;
        }

        a#header-logo-img {
            background-image: url('/Content/Images/logo.png');
            background-repeat: no-repeat;
            height: 70px;
            display: block;
            width: 200px;
        }

        div#header-info div {
            clear: both;
            float: right;
        }
        div.left-menu{

        }
        div.left-menu div.left-menu-item{

        }
        div.left-menu div.left-menu-item a{
            display: block;
            padding: 5px 20px;
            text-decoration: none;
            font-size: 0.95rem;
            color: #236693;
        }
        div.left-menu div.left-menu-item a:hover{
            background-color: #aaa !important;
            color: #fff;
        }
        div.left-menu div.left-menu-item.active a{
            background-color: #eee;
            border-right: 5px solid #aaa;
        }


/* phan danh cho hien thi tin tuc*/
        .latest-news {
            width: 1100px;
        }

        .latest-news-left {
        }

        .latest-news-right {
        }

        .news-item {
            box-sizing: border-box;
        }
        .news-item a{
            color: #000;
        }
        .news-item a:hover{
            text-decoration: none;
        }

            .news-item .news-item-title {
                font-weight: bold;
            }

            .news-item .news-item-summary {
                color: #aaa;
                overflow: hidden;
            }

            .news-item.news-item-large {
            }

            .news-item.news-item-small {
                width: 25%;
            }

            .news-item.poster-left::after {
                content: '';
                display: block;
                clear: both;
            }

            .news-item .news-item-poster {
                display: block;
                margin: 0px;
                padding: 0px;
                background-size: cover;
                background-position: 50%;
                background-repeat: no-repeat;
                border: 1px solid #f0f0f0;
            }

            .news-item.news-item-large.news-item-poster-top .news-item-poster {
                height: 320px;
            }

            .news-item.news-item-small.news-item-poster-top .news-item-poster {
                height: 180px;
            }

            .news-item.news-item-poster-left .news-item-poster {
                height: 80px;
                width: 150px;
                float: left;
                margin-right: 5px;
            }

            .news-item.news-item-large.news-item-poster-top .news-item-title {
                font-size: 1.2em;
                line-height: 1.2;
                max-height: 2.88em;
                overflow: hidden;
            }

            .news-item.news-item-small.news-item-poster-top .news-item-title {
                font-size: 1.0em;
                line-height: 1.2;
                max-height: 2.4em;
                overflow: hidden;
            }

            .news-item.news-item-poster-left .news-item-title {
                font-size: 0.9em;
                line-height: 1.2;
                max-height: 2.4em;
                overflow: hidden;
            }

            .news-item.news-item-poster-left .news-item-summary {
                font-size: 0.9em;
                line-height: 1.2em;
                height: 3.6em;
                overflow: hidden;
            }

            .news-item.news-item-small.news-item-poster-top .news-item-summary {
                font-size: 0.9em;
                line-height: 1.2em;
                max-height: 3.6em;
                overflow: hidden;
            }

            .news-item.news-item-large.news-item-poster-top .news-item-summary {
                font-size: 0.9em;
                line-height: 1.2em;
                max-height: 3.6em;
                overflow: hidden;
            }
            .w-20{
                width: 20% !important;
            }
    </style>
    <script></script>
</head>
    <body>
        <div id="container">
            @Html.Action("Header", "Layout")
            <div id="content">
                @RenderBody()
            </div>
            @Html.Action("Footer", "Layout")
        </div>
    </body>
</html>
