

@{
    ViewBag.Title = "Thông tin người dùng";
}

<div class="row m-4">
    <div class=" col-3">
        <div class="left-menu">
            <div class="left-menu-item active">
                <a href="@Url.Action("Index", "User")">Bài chưa duyệt</a>
            </div>

            <div class="left-menu-item">
                <a href="@Url.Action("ChangePassword", "User")">Bài đã duyệt</a>
            </div>

        </div>
    </div>
    <div class=" col-9">
        <div class="right-content">
            <div class="card">
                <div class="card-header"><h4>Bài chưa được duyệt</h4></div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>