<div id="footer">
    <div class="footer-content clearfix">
        <div class="u-fl u-w50">
            <div><h5>&copy; 1999 - 2019 Web tin tức</h5></div>
            <div>Tin tức trong và ngoài nước</div>
            <div>All rights reserved.</div>
            <div>Tổng biên tập: TRỊNH VĂN LINH</div>

            <div>Địa chỉ liên hệ: Đại Học Cần Thơ</div>
        </div>
        <div class="u-fl u-w50">
            <div><h5>Thông tin liên hệ:</h5></div>
            <div>
                Tòa soạn:
                (+84 32) 00000000
            </div>
            <div>
                Báo điện tử:
                (+84 32) 00000000
            </div>
            <div>Email: mobi170296@gmail.com</div>
            <div>
                Quảng cáo:
                (+84 32) 00000000
            </div>
            <div>Đường dây nóng: (+84 32) 00000000 * Bạn đọc: (+84 32) 00000000</div>
        </div>
    </div>
</div>